@font-face {
  font-family: norse;
  src: url(assets/fonts/Norse-Bold.otf);
}

@font-face {
  font-family: open-sans;
  src: url(assets/fonts/OpenSans-Italic-VariableFont_wdth\,wght.ttf);
}

:root {
  font-size: 62.5%;
  --create-account-btn-color: #596D48;
  --grey: rgb(249 250 251);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: open-sans;
}

.wrapper {
  display: flex;
}

.background {
  position: relative;
  width: 35vw;
  height: 100vh;
  background: url(assets/images/leafplant.png) no-repeat;
  background-size: cover;
}

.logo {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 15%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.logo p {
  font-size: 14rem;
  color: white;
  font-family: norse;
}

.main {
  width: 65vw;
  height: 100vh;
  border: black solid 2px;
  display: flex;
  flex-direction: column;
}

.description {
  flex: 1 1 0;
  background-color: var(--grey);
}

.description p {
  font-weight: bold;
  font-size: 3rem;
  width: 80%;
  margin: 10rem 0 0 5rem;
  text-align: left;
  word-break: break-word;
}

.form-wrapper {
  flex: 1 1 0;
  background-color: white;
  box-shadow: 1px 1px 5px black;
  display: flex;
  flex-direction: column;
}

h1 {
  padding: 3rem 0 0 5rem;
  font-size: 3rem;
  font-weight: bold;
}

form {
  width: 80%;
  padding-left: 5rem;
  flex: 1 1 0;
  display: flex;
  justify-content: space-between;
}

.data-grp {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.data {
  position: relative;
}

label {
  position: absolute;
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  opacity: 0;
  cursor: text;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

input {
  height: 3rem;
  width: 30rem;
  margin-bottom: 3.5rem;
  border: none;
  outline: none;
  border-bottom: solid black 2px;
  font-size: 2rem;
}

input:not(:placeholder-shown) + label {
  opacity: 1;
  top: -2rem;
  left: 0;
}

input:not(:placeholder-shown):not(:focus):invalid {
  border-color: red;
}

input:not(:placeholder-shown):not(:focus):invalid + label::before {
  position: absolute;
  top: 6rem;
  width: 40rem;
  color: red;
}

#email:not(:placeholder-shown):not(:focus):invalid + label::before {
  content: "Please enter valid email";
}

#first-name:not(:placeholder-shown):not(:focus):invalid + label::before, #last-name:not(:placeholder-shown):not(:focus):invalid + label::before {
  content: "Please enter valid name"; 
}

#email:not(:placeholder-shown):not(:focus):invalid + label::before {
  content: "Please enter valid email"; 
}

#phone-number:not(:placeholder-shown):not(:focus):invalid + label::before {
  content: "Please enter valid phone number"; 
}

#pass:not(:placeholder-shown):not(:focus):invalid + label::before {
  content: "Password should contain at least one UpperCase, LowerCase and Number"; 
}

.confirm-pass + label::before {
  position: absolute;
  top: 6rem;
  width: 40rem;
  content: "Password must match";
  color: red;
}

.confirm-pass:focus + label::before {
  content: "";
}

.submit-btn-wrapper {
  flex: 0.5 1 0;
  background-color: var(--grey);
}

button {
  width: 30rem;
  height: 6rem;
  font-size: 2rem;
  border-radius: 1.5rem;
  margin: 3rem 0 0 5rem;
  background-color: #596D48;
  color: white;
  cursor: pointer;
}

button:active {
  background-color: green;
}


.submit-btn-wrapper p {
  margin: 3rem 0 0 5rem;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}